<div class="container">
    <div style="text-align: center;margin: 5%;">
        <h1>Registro de Pagos</h1>
    </div>
    <div style="text-align: center;margin: 5%;">
        <form [formGroup]="form" (ngSubmit)="aceptar()" style="flex: 1;">

            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" />
                <mat-error *ngIf="form.get('codigo')?.hasError('required')">
                El Código del pedido es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br />

            <mat-label>Metodo de Pago</mat-label>
            <mat-select formControlName="metodo">
                @for (food of tiposPago; track food) {
                    <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
                }
            <mat-error *ngIf="form.get('metodo')?.hasError('required')">
                El metodo de pago es obligatorio!!
            </mat-error>
            </mat-select>
            

            <br />
            <mat-form-field class="example-full-width">
                <mat-label>Monto</mat-label>
                <input matInput placeholder="1000" formControlName="monto" />
                <mat-error *ngIf="form.get('monto')?.hasError('required')">
                    El monto es obligatorio!!
                 </mat-error>
                </mat-form-field>
            <br />
            <mat-form-field>
                 <mat-label>Comprobante</mat-label>
                  <textarea matInput formControlName="comprobante"></textarea>
                  <mat-error *ngIf="form.get('comprobante')?.hasError('required')">
                    El comprobante es obligatoria!!
                  </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaP" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('fechaP')?.hasError('required')">
                    La fecha es obligatoria!!
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Pedido</mat-label>
                <mat-select formControlName="pedido"> <!--Reactive Forms-->
                    <mat-option *ngFor="let p of pedidosDisponibles" [value]="p">
                         Pedido #{{ p.idPedido }} - Fecha: {{ p.fechaPedido | date:'shortDate' }} - 
                         Estado: {{ p.estadoPedido ? 'Activo' : 'Inactivo' }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('pedido')?.hasError('required')">
                    Asocia el pago a un pedido disponible (unico)!!!
                </mat-error>
            </mat-form-field>
            <br />
            <button mat-raised-button color="primary" type="submit">Aceptar</button>
            <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>

            
        </form>
    </div>
</div>