<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de Reclamos</h1>
  </div>

  <div>
    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-label>Ingrese la id del genero</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>
    </form>
  </div>

  <div style="text-align: center; margin: 5%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idReclamo }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Titulo</th>
        <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">
          {{ element.descripcion }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.estado }}
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          {{ element.user.username }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <br />
    <br />
  </div>
</div>


