<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de Usuarios</h1>
  </div>

  <div>
    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-label>Ingrese nombre del usuario</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>
    </form>
  </div>

  <div style="text-align: center; margin: 5%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idUser }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.correoUser }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let element">
          {{ element.rol.nombreRole }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <br />
    <br />
  </div>
</div>
