<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
	<div class="nombre-app">
		<h3>Desicloth</h3>
	</div>
	
	<div class="menu-group">
		<!-- Botones de menú (todos los que ya tenías) -->
		 <div class="menu-items" *ngIf="isAdmin()">
			<button mat-button [matMenuTriggerFor]="menuDashboard" class="btn-rojo">Dashboards</button>
		</div>
		<div class="menu-items" *ngIf="isAdmin()">
			<button mat-button [matMenuTriggerFor]="menuUsers" class="btn-rojo">Usuarios</button>
		</div>
		<div class="menu-items" *ngIf="isAdmin()">
			<button mat-button [matMenuTriggerFor]="menuRoles" class="btn-rojo">Roles</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuGalerias" class="btn-rojo">Galerias</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuDisenos" class="btn-rojo">Diseños</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuCategorias" class="btn-rojo">Categorias</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuGeneros" class="btn-rojo">Generos</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuProductos" class="btn-rojo">Productos</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuPedidos" class="btn-rojo">Pedidos</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuPagos" class="btn-rojo">Pagos</button>
		</div>
		<div class="menu-items">
			<button mat-button [matMenuTriggerFor]="menuReclamos" class="btn-rojo">Reclamos</button>
		</div>
		<div class="menu-items right-menu">
			<button mat-button [matMenuTriggerFor]="menuSalir" class="btn-rojo">
				<mat-icon>person</mat-icon> {{ user }}
			</button>
		</div>
	</div>
	
</mat-toolbar>

<!-- Opciones para el menu de users -->
<mat-menu #menuDashboard="matMenu">
	<button mat-menu-item routerLink="/rutadashboard/reportediseno">Reportes de Diseños</button>
</mat-menu>

<!-- Opciones para el menu de users -->
<mat-menu #menuUsers="matMenu">
	<button mat-menu-item>Listar</button>
	<button mat-menu-item>Registrar</button>
</mat-menu>

<!-- Opciones para el menu de roles -->
<mat-menu #menuRoles="matMenu">
	<button mat-menu-item routerLink="/rutarole">Listar</button>
	<button mat-menu-item routerLink="/rutarole/insertarrole">Registrar</button>
</mat-menu>

<!-- Opciones para el menu de disenos -->
<mat-menu #menuGalerias="matMenu">
	<button mat-menu-item routerLink="/rutagaleria">Listar</button>
	<button mat-menu-item routerLink="/rutagaleria/insertagaleria">Crear</button>
	<button mat-menu-item routerLink="/rutagaleria/busquedagaleria">Buscar Galeria</button>
</mat-menu>

<!-- Opciones para el menu de disenos -->
<mat-menu #menuDisenos="matMenu">
	<button mat-menu-item routerLink="/rutadisenos">Listar</button>
	<button mat-menu-item routerLink="/rutadisenos/insertardiseno">Crear</button>
	<button mat-menu-item routerLink="/rutadisenos/misdisenos">Mis diseño</button>
</mat-menu>

<!-- Opciones para el menu de categorias -->
<mat-menu #menuCategorias="matMenu">
	<button mat-menu-item routerLink="/rutacategorias">Listar</button>
	<button mat-menu-item routerLink="/rutacategorias/insertarcategoria" *ngIf="isAdmin()">Registrar</button>
	<button mat-menu-item routerLink="/rutacategorias/busquedacategoria">Buscar Categoria </button>
</mat-menu>

<!-- Opciones para el menu de generos -->
<mat-menu #menuGeneros="matMenu">
	<button mat-menu-item routerLink="/rutageneros">Listar</button>
	<button mat-menu-item routerLink="/rutageneros/insertargenero" *ngIf="isAdmin()">Registrar</button>
</mat-menu>

<!-- Opciones para el menu de prodctos -->
<mat-menu #menuProductos="matMenu">
	<button mat-menu-item routerLink="/rutaproductos">Listar</button>
	<button mat-menu-item routerLink="/rutaproductos/insertarproducto" *ngIf="isAdmin()">Registrar</button>
</mat-menu>

<!-- Opciones para el menu de pedidos -->
<mat-menu #menuPedidos="matMenu">
	<button mat-menu-item routerLink="/rutapedidos">Listar</button>
	<button mat-menu-item routerLink="/rutapedidos/insertarpedido">Registrar</button>
</mat-menu>

<!-- Opciones para el menu de pagos -->
<mat-menu #menuPagos="matMenu">
	<button mat-menu-item routerLink="/rutapagos">Listar</button>
	<button mat-menu-item routerLink="/rutapagos/insertarpago">Registrar</button>
</mat-menu>

<!-- Opciones para el menu de reclamos -->
<mat-menu #menuReclamos="matMenu">
	<button mat-menu-item routerLink="/rutareclamos">Listar</button>
	<button mat-menu-item routerLink="/rutareclamos/insertarreclamo">Registrar</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>