<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>Registro de Galeria</h1>
  </div>
  <div style="text-align: center; margin: 5%;">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El Código de la app es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Galeria</mat-label>
        <input matInput placeholder="Escribir.." formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre de la Galeria es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Eliminar ngModel aquí, ya que estamos usando Reactive Forms -->
      <mat-radio-group formControlName="visibilidad">
        <mat-radio-button [value]="true">Publica</mat-radio-button>
        <mat-radio-button [value]="false">Privada</mat-radio-button>
        <br />
        
      </mat-radio-group>
      <mat-error *ngIf="form.get('visibilidad')?.hasError('required')">
          La visibilidad es obligatorio!!
        </mat-error>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Rating</mat-label>
        <input matInput placeholder="Colocar rating" formControlName="rating" />
        <mat-error *ngIf="form.get('rating')?.hasError('required')">
          El rating es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('rating')?.hasError('max')">
          El rating no puede ser mayor a 5!!
        </mat-error>
        <mat-error *ngIf="form.get('rating')?.hasError('min')">
          El rating no puede ser menor a 1!!
        </mat-error>
      </mat-form-field>



      <button matButton="outlined">Aceptar</button>
      <button matButton (click)="cancelar()">Cancelar</button>
    </form>
  </div>
</div>
